PORT=3001
MONGOO_DB_URI=your_mongodb_uri
SENDER_EMAIL=your_sender_email
ACCESS_TOKEN_SECREAT_KEY=your_access_token_secret_key
REDIS_URL=your_redis_url
REFRESH_TOKEN_SECREAT_KEY=your_refresh_token_secret_key
WEB_ROLE_SECRET=your_web_role_secret
SECREAT_KEY=your_secreat_key
